<div class=”ui segment”>
 <h3>Mailbox</h3>
 <div class=”ui list”>
  <div class=”item”>
   <% @conversations.each do |conversation| %>
   <% if conversation.sender_id == session[:user] ||      conversation.recipient_id == session[:user] %>
    <% if conversation.sender_id == session[:user] %>
      <% recipient = User.find(conversation.recipient_id) %>
    <% else %>
      <% recipient = User.find(conversation.sender_id) %>
    <% end %>
    <%= link_to recipient.login,   conversation_messages_path(conversation)%>
   <% end %>
  <% end %>
  </div>
 </div>
</div>
<div class=”ui segment”>
 <h3>All Users</h3>
  <div class=”ui list”>
   <% @users.each do |user| %>
    <% if user.id != session[:user] %>
     <div class=”item”>
   <%= user.login %> <%= link_to 'Message me!',"/conversations/convo?recipient_id=#{user.id}&sender_id=#{session[:user]}", {:sender_id=> session[:user], :recipient_id=> user.id} %>
 </div>
  <% end %>
 <% end %>
 </div>
</div>