// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
body {
	background-color: blue;


}
html {
  font-size: 100%;
  line-height: 1.5;
  height: 100%;
}